<div class="animated fadeIn">
  <p-toast position="bottom-right"></p-toast>
  <h3 class="tabletitle"> Garage </h3>
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Nuovo " icon="pi pi-plus" class="p-button-success p-mr-2 space-right"
                (click)="openNew()" *ngIf="autoSelezionate == null || autoSelezionate.length == 0"></button>
        <button pButton pRipple label="Elimina" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedAuto()"
                *ngIf="autoSelezionate != null && autoSelezionate.length > 0"></button>
      </ng-template>

      <ng-template pTemplate="right">

        <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Cerca..."/>
        </span>
        </div>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="autos"
             [rows]="5"
             [paginator]="true"
             [globalFilterFields]="['marca','modello','anno_immatricolazione', 'n_telaio']"
             [(selection)]="autoSelezionate"
             [rowHover]="true" dataKey="n_telaio"
             styleClass="p-datatable-striped p-datatable-sm"
             currentPageReportTemplate="Visualizzo da linea {first} a linea {last} di {totalRecords} linee totali"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[5,10,25]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="n_telaio">Numero Telaio</th>
          <th pSortableColumn="marca">Marca
            <p-sortIcon field="marca"></p-sortIcon>
          </th>
          <th pSortableColumn="modello">Modello
            <p-sortIcon field="modello"></p-sortIcon>
          </th>
          <th pSortableColumn="anno_immatricolazione">Anno di immatricolazione
            <p-sortIcon field="anno_immatricolazione"></p-sortIcon>
          </th>
          <th pSortableColumn="idPersona">Proprietario</th>
          <th pSortableColumn="cod_certificazione">Certificazione Targa D'oro</th>
          <th pSortableColumn="foto">Foto</th>
          <th style="width: 6rem">Azioni</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-auto>
        <tr>
          <td>
            <p-tableCheckbox [value]="auto"></p-tableCheckbox>
          </td>
          <td>{{auto.n_telaio}}</td>
          <td>{{auto.marca}}</td>
          <td>{{auto.modello}}</td>
          <td>{{auto.anno_immatricolazione  | date: 'yyyy'}}</td>
          <td>{{persone[findpersonaIndexById(auto.idPersona)].nome + " " +
          persone[findpersonaIndexById(auto.idPersona)].cognome}}</td>
          <td>{{auto.cod_certificazione}}</td>
          <td (click)="imgClick(auto.foto)"> <img  class="smallimg" src="{{auto.foto}}" alt="FOTO"> </td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-error p-mr-2"
                    (click)="editAuto(auto)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteAuto(auto)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <p-dialog [(visible)]="showDialog" [style]="{width: '550px'}" header="Dettagli" [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="p-formgroup-inline" style="margin-top: 13px; width: 99%;" *ngIf="!auto.idPersona">
        <span class="p-input-icon-left" style="display: inline-block; width: 49%;">
          <i class="cil-car-alt"
             [ngStyle]="{'color': (!auto.n_telaio && submitted) ? 'red' : '#525252' }"></i>
          <input id="N_telaio" type="text" [(ngModel)]="auto.n_telaio" pInputText placeholder="Numero Telaio">
        </span>
        <span class="p-input-icon-left p-float-label" style="display: inline-block; width: 50%;">
           <i class="cil-user"
              [ngStyle]="{'color': ((!codFisc || codfiscEsrr) && submitted) ? 'red' : '#525252' }"></i>
           <input id="IdPersona" type="text" [(ngModel)]="codFisc" pInputText
                  placeholder="Codice Fiscale Proprietario">
          <label class="errore" for="IdPersona" *ngIf="submitted && codfiscEsrr">Codice Fiscale non presente nel database</label>
        </span>
      </div>

      <div class="p-formgroup-inline" style="margin-top: 13px; width: 99%;">
        <span class="p-input-icon-left" style="display: inline-block; width: 49%;">
          <i class="cil-car-alt"
             [ngStyle]="{'color': (!auto.marca && submitted) ? 'red' : '#525252' }"></i>
          <input id="Marca" type="text" [(ngModel)]="auto.marca" pInputText placeholder="Marca">
        </span>

        <span class="p-input-icon-left" style="display: inline-block; width: 50%;">
           <i class="cil-car-alt"
              [ngStyle]="{'color': (!auto.modello && submitted) ? 'red' : '#525252' }"></i>
           <input id="Modello" type="text" [(ngModel)]="auto.modello" pInputText placeholder="Modello">
        </span>
      </div>


      <div class="p-formgroup-inline" style="margin-top: 13px; width: 99%;">
        <span class="p-input-icon-left" style="display: inline-block; width: 49%;">
          <i class="cil-calendar"
             [ngStyle]="{'color': (!auto.anno_immatricolazione && submitted) ? 'red' : '#525252' }"></i>
          <input type="text"
                 pInputText
                 placeholder="Anno di immatricolazione"
                 class="form-control" style="border: 1px solid #ced4da; height: 40px;"
                 [bsConfig]="bsConfig"
                 [(ngModel)]="auto.anno_immatricolazione"
                 bsDatepicker>
        </span>

        <span class="p-input-icon-left p-float-label" style="display: inline-block; width: 50%;">
           <i class="cil-contact"
              [ngStyle]="{'color': certificazioneErr ? 'red' : '#525252' }"></i>
           <input id="Cod_certificazione" type="text" [(ngModel)]="auto.cod_certificazione" pInputText
                  placeholder="Certificazione">
          <label class="errore" for="Cod_certificazione" *ngIf="submitted && certificazioneErr">Dev' essere un numero!</label>
        </span>
      </div>

      <div class="p-formgroup-inline" style="margin-top: 13px;" *ngIf="!auto.idPersona">
        <p-fileUpload name="file" (onSelect)="handleImages($event.files)"
                      accept="image/*" maxFileSize="10000000" [auto]="true" chooseLabel="Scegli foto">
          <ng-template pTemplate="toolbar">
            <small class="p-error" *ngIf="submitted && auto.foto == null">Devi selezionare una foto!</small>
          </ng-template>
          <ng-template pTemplate="file">
            <div>
                <span *ngIf="auto.foto"> <img [src]="imageSrc" alt="rip" style="width: 150px;"/>
                  {{ (auto.foto.name.length > 10) ? (auto.foto.name | slice:0:10) + '...' : (auto.foto.name) }}
                  -  {{auto.foto.size | filesize}}
                </span>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAuto()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="showImageDialog" [style]="{width: '800px'}" header=" " [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">

    <img class="bigimg center" src="{{imageUrl}}" alt="">

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Chiudi" icon="pi pi-times" class="p-button-text" (click)="showImageDialog = false"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>
